<div class="modal-body">
  <script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[

  $(document).ready(function(){
      $(".select").select2();
      });
//]]>
  </script>
  <%= form_for @basket, :remote => true, :html =>{:class => 'form-validate form-horizontal form-column form-bordered'} do |f| %>
    <%= hidden_field_tag :operation_type, @operation_type %>
    <% if @operation_type == "set_onwer" %>
    <div class="control-group">
      <label for="textfield" class="control-label">所属用户</label>
      <div class="controls">
        <%= f.select :onwer_id, User.all.collect { |p| [ p.full_name, p.id ] }, {include_blank: true},{:class=> 'select input-large'} %>  
      </div>
    </div>
    <% if @basket.mice.alive_mice.size > 0 %>
    <div class="control-group">
      <label for="textfield" class="control-label">换位 </label>
      <div class="controls">
        <% nbaskets = [] 
        Basket.all.map{|b| nbaskets << b if b.mice.alive_mice.size == 0}
      %>
        <%= select_tag :other_basket_id, options_from_collection_for_select(nbaskets, :id, :get_cage_code),{include_blank: true, :class=> 'select input-large'}%>
      </div>
    </div>
    <%end%>
    <% elsif @operation_type == "set_cage_type" %>
    <div class="control-group">
      <label for="textfield" class="control-label">笼子类型</label>
      <div class="controls">
        <%= f.select :cage_type, @basket.get_basket_types, {},{:class=> 'select input-large'} %>  
      </div>
    </div>
   <div class="control-group cage_at" style="display:none;">
      <label for="textfield" class="control-label">合笼时间</label>
      <div class="controls">
        <%= text_field_tag :breed_cage_at %>
      </div>
    </div>
  <% end %>
<% end %>
</div>
