<script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
//]]>
$(function() {
  //    $( ".division_mouse" ).draggable({ revert: "invalid" });
  //    $( "#another_basket" ).droppable({
  //accept: ".division_mouse",
  //drop: function( event, ui ) {
  //var mId = ui.draggable.attr("id");
  //var bId = $("#another_basket_id").val()
  //$( this ).addClass( "ui-state-highlight" )
  //$.ajax({url: "/mice/remove_mouse?id="+mId+"&basket_id="+bId+"&old_basket=<%= @basket.id%>",type: "GET",async:false})
  //}
  //});

//新的笼子js
    var $gallery = $( "#gallery" ),
    $trash = $( "#trash" );
 
    // let the gallery items be draggable
    $( "li", $gallery ).draggable({
      cancel: "a.ui-icon", // clicking an icon won't initiate dragging
      revert: "invalid", // when not dropped, the item will revert back to its initial position
      containment: "document",
      helper: "clone",
      cursor: "move"
    });
    $( "li", $trash).draggable({
      cancel: "a.ui-icon", // clicking an icon won't initiate dragging
      revert: "invalid", // when not dropped, the item will revert back to its initial position
      containment: "document",
      helper: "clone",
      cursor: "move"
    });
 
    // let the trash be droppable, accepting the gallery items
    $trash.droppable({
      accept: "#gallery > li",
      activeClass: "ui-state-highlight",
      drop: function( event, ui ) {
        deleteImage( ui.draggable );
        var mId = ui.draggable.attr("id");
        $.ajax({url: "/mice/remove_out?id="+mId+"&basket_id=<%= @basket.id %>",type: "GET",async:false})
        }
    });
 
    // let the gallery be droppable as well, accepting items from the trash
    $gallery.droppable({
      accept: "#trash li",
      activeClass: "custom-state-active",
      drop: function( event, ui ) {
        recycleImage( ui.draggable );
        var mId = ui.draggable.attr("id");
        $.ajax({url: "/mice/remove_in?id="+mId+"&basket_id=<%= @basket.id %>",type: "GET",async:false})
      }
    });
 
    // image deletion function
    var recycle_icon = "<a title='Recycle this image' class='ui-icon ui-icon-arrowreturnthick-1-s'>Recycle image</a>";
    function deleteImage( $item ) {
      $item.fadeOut(function() {
        var $list = $( "ul", $trash ).length ?
          $( "ul", $trash ) :
          $( "<ul class='gallery ui-helper-reset'/>" ).appendTo( $trash );
 
        $item.find( "a.ui-icon-arrowreturnthick-1-n" ).remove();
        $item.append( recycle_icon ).appendTo( $list ).fadeIn(function() {
          $item
            .animate({ width: "48px" })
            .find( "img" )
              .animate({ height: "36px" });
        });
      });
    }
 
    // image recycle function
    var trash_icon = "<a title='Delete this image' class='ui-icon ui-icon-arrowreturnthick-1-n'>Delete image</a>";
    function recycleImage( $item ) {
      $item.fadeOut(function() {
        $item
          .find( "a.ui-icon-arrowreturnthick-1-s" )
            .remove()
          .end()
          .css( "width", "96px")
          .append( trash_icon )
          .find( "img" )
            .css( "height", "72px" )
          .end()
          .appendTo( $gallery )
          .fadeIn();
      });
    }
 
    // image preview function, demonstrating the ui.dialog used as a modal window
    function viewLargerImage( $link ) {
      var src = $link.attr( "href" ),
        title = $link.siblings( "img" ).attr( "alt" ),
        $modal = $( "img[src$='" + src + "']" );
 
      if ( $modal.length ) {
        $modal.dialog( "open" );
      } else {
        var img = $( "<img alt='" + title + "' width='384' height='288' style='display: none; padding: 8px;' />" )
          .attr( "src", src ).appendTo( "body" );
        setTimeout(function() {
          img.dialog({
            title: title,
            width: 400,
            modal: true
          });
        }, 1 );
      }
    }
 
    // resolve the icons behavior with event delegation
    $( "ul.gallery > li" ).click(function( event ) {
      var $item = $( this ),
        $target = $( event.target );
 
      if ( $target.is( "a.ui-icon-arrowreturnthick-1-n" ) ) {
        deleteImage( $item );
      } else if ( $target.is( "a.ui-icon-zoomin" ) ) {
        viewLargerImage( $target );
      } else if ( $target.is( "a.ui-icon-arrowreturnthick-1-s" ) ) {
        recycleImage( $item );
      }
 
      return false;
    });
    });
</script>
<style>
#gallery { float: left; width: 63%; min-height: 12em; }
.gallery.custom-state-active { background: #eee; }
.gallery li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
.gallery li h5 { margin: 0 0 0.4em; cursor: move; }
.gallery li a { float: right; }
.gallery li a.ui-icon-comment { float: left; }
.gallery li img { width: 100%; cursor: move; }

#trash { float: right; width: 32%; min-height: 18em; padding: 1%; }
#trash h4 { line-height: 28px; margin: 0 0 0.4em; }
#trash h4 .ui-icon { float: left; }
#trash .gallery h5 { display: none; }
</style>
<div class="ui-widget ui-helper-clearfix" style="padding:8px;">
<div class="">
  <%= link_to "笼子类型", edit_basket_path(@basket, :operation_type => "set_cage_type") ,:remote => true,:class => 'btn btn-small ' %>
</div>
<ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">
  <% @basket.mice.each do |m|%>
    <li class="ui-widget-content ui-corner-tr" id="mouse_<%= m.id %>">
    <% if m.code == nil or m.code == ""  %>
      <h5 class="ui-widget-header">Litter</h5>
      <img src="/assets/litter.png" alt="Planning the ascent" width="96" height="72" />
    <%else %>
        <h5 class="ui-widget-header"><%= m.code %></h5>
      <% if m.sex == "M" %>
        <img src="/assets/mouse_m.png" alt="Planning the ascent" width="96" height="72" />
      <%else %>
          <img src="/assets/mouse_f.png" alt="Planning the ascent" width="96" height="72" />
      <%end%>
    <%end%>
    <a title="Mouse Information" class="ui-icon ui-icon-comment" onclick="javascript: alert('<%= m.code %>');" >Mouse Information</a>
    <a title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a>
    <a title="View larger image" class="ui-icon ui-icon-plusthick">View larger</a>
    <a title="Delete this image" class="ui-icon ui-icon-arrowreturnthick-1-n">Delete image</a>
    </li>
  <%end%>
</ul>
 
<div id="trash" class="ui-widget-content ui-state-default">
  <h4 class="ui-widget-header"><span class="ui-icon ui-icon-trash">Trash</span> 临时存放</h4>
  <ul class="gallery ui-helper-reset">
  <% @mice.each do |m|%>
  <li class="ui-widget-content ui-corner-tr ui-draggable" style="display: list-item; width: 48px;" id="mouse_<%= m.id %>">
  <% if m.code == nil or m.code == ""  %>
    <h5 class="ui-widget-header">Litter</h5>
    <img width="96" height="72" alt="Planning the ascent" src="/assets/litter.png" style="display: inline-block; height: 36px;">
  <%else %>
    <% if m.sex == "M" %>
      <h5 class="ui-widget-header"><%= m.code %></h5>
    <img width="96" height="72" alt="Planning the ascent" src="/assets/mouse_m.png" style="display: inline-block; height: 36px;">
    <%else%>
      <h5 class="ui-widget-header"><%= m.code %></h5>
    <img width="96" height="72" alt="Planning the ascent" src="/assets/mouse_f.png" style="display: inline-block; height: 36px;">
    <%end%>
  <%end%>
    <a class="ui-icon ui-icon-zoomin" title="View larger image">View larger</a>
    <a class="ui-icon ui-icon-zoomin" title="View larger image">View larger</a>
    <a class="ui-icon ui-icon-zoomin" title="View larger image">View larger</a>
    <a class="ui-icon ui-icon-arrowreturnthick-1-s" title="Recycle this image">Recycle image</a>
  <% end %>
  </ul>
</div>
 
</div>
<br/>
<br/>
