<div class="basket_show <%= @basket.cage_type %>basket_border" style="padding-bottom:15px; padding: 1px; display:none;">
<script type="text/javascript" language="javascript" charset="utf-8">
    function show_mouse(mouse)
    {
      $.ajax({url: "/baskets/show_mouse?mouse_id="+mouse});
    }
    function breeding_littler_mice(mouse)
    {
      $.ajax({url: "/baskets/<%= @basket.id %>/breeding_littler_mice?mouse_id="+mouse});
    }
    function mouse_dead(mouse)
    {
      $.ajax({url: "/baskets/<%= @basket.id %>/mouse_dead?mouse_id="+mouse});
    }
    function share_mouse(mouse)
    {
      $.ajax({url: "/baskets/<%= @basket.id %>/share_mouse?mouse_id="+mouse});
    }

    function edit_mouse(mouse)
    {
      $.ajax({url: "/baskets/<%= @basket.id %>/edit_mouse?mouse_id="+mouse});
    }
$(function() {
//新的笼子js
    var $gallery = $( "#gallery" ),
    $trash = $( "#trash" );
 
    // let the gallery items be draggable
    $( "li", $gallery ).draggable({
      cancel: "a.ui-icon", // clicking an icon won't initiate dragging
      revert: "invalid", // when not dropped, the item will revert back to its initial position
      containment: "document",
      helper: "clone",
      cursor: "move",
      <% if current_user.has_role?(:PI) %>
        disabled: true
      <%end%>
    });
    $( "li", $trash).draggable({
      cancel: "a.ui-icon", // clicking an icon won't initiate dragging
      revert: "invalid", // when not dropped, the item will revert back to its initial position
      containment: "document",
      helper: "clone",
      <% if current_user.has_role?(:PI) %>
        disabled: true,
      <%end%>
      cursor: "move"
    });
 
    // let the trash be droppable, accepting the gallery items
    $trash.droppable({
      accept: "#gallery > li",
      activeClass: "ui-state-highlight",
      drop: function( event, ui ) {
      if(confirm("确定移出该小鼠么")){
        deleteImage( ui.draggable );
        var mId = ui.draggable.attr("id");
        $.ajax({url: "/mice/mouse_remove?id="+mId+"&basket_id=<%= @basket.id %>&move_type=remove_out"})
      }
        }
    });
 
    // let the gallery be droppable as well, accepting items from the trash
    $gallery.droppable({
      accept: "#trash li",
      activeClass: "custom-state-active",
      drop: function( event, ui ) {
        recycleImage( ui.draggable );
        var mId = ui.draggable.attr("id");
        $.ajax({url: "/mice/mouse_remove?id="+mId+"&basket_id=<%= @basket.id %>&move_type=remove_in"})
        //$.ajax({url: "/mice/remove_in?id="+mId+"&basket_id=<%= @basket.id %>"})
      }
    });
 
    // image deletion function
    var recycle_icon = "<a title='Recycle this image' class='ui-icon ui-icon-arrowreturnthick-1-s'>Recycle image</a>";
    function deleteImage( $item ) {
      $item.fadeOut(function() {
        var $list = $( "ul", $trash ).length ?
          $( "ul", $trash ) :
          $( "<ul class='gallery ui-helper-reset'/>" ).appendTo( $trash );
 
        $item.find( "a.ui-icon-arrowreturnthick-1-n" ).remove();
        $item.append( recycle_icon ).appendTo( $list ).fadeIn(function() {
          $item
            .animate({ width: "48px" })
            .find( "img" )
              .animate({ height: "36px" });
        });
      });
    }
 
    // image recycle function
    var trash_icon = "<a title='Delete this image' class='ui-icon ui-icon-arrowreturnthick-1-n'>Delete image</a>";
    function recycleImage( $item ) {
      $item.fadeOut(function() {
        $item
          .find( "a.ui-icon-arrowreturnthick-1-s" )
            .remove()
          .end()
          .css( "width", "96px")
          .append( trash_icon )
          .find( "img" )
            .css( "height", "72px" )
          .end()
          .appendTo( $gallery )
          .fadeIn();
      });
    }
 
    // image preview function, demonstrating the ui.dialog used as a modal window
    function viewLargerImage( $link ) {
      var src = $link.attr( "href" ),
        title = $link.siblings( "img" ).attr( "alt" ),
        $modal = $( "img[src$='" + src + "']" );
 
      if ( $modal.length ) {
        $modal.dialog( "open" );
      } else {
        var img = $( "<img alt='" + title + "' width='384' height='288' style='display: none; padding: 8px;' />" )
          .attr( "src", src ).appendTo( "body" );
        setTimeout(function() {
          img.dialog({
            title: title,
            width: 400,
            modal: true
          });
        }, 1 );
      }
    }
 
    // resolve the icons behavior with event delegation
    $( "ul.gallery > li" ).click(function( event ) {
      var $item = $( this ),
        $target = $( event.target );
 
      if ( $target.is( "a.ui-icon-arrowreturnthick-1-n" ) ) {
        deleteImage( $item );
      } else if ( $target.is( "a.ui-icon-zoomin" ) ) {
        viewLargerImage( $target );
      } else if ( $target.is( "a.ui-icon-arrowreturnthick-1-s" ) ) {
        recycleImage( $item );
      }
 
      return false;
    });
    });
</script>
<style>
#gallery { float: left; width: 63%; min-height: 12em; }
.gallery.custom-state-active { background: #eee; }
.gallery li { float: left; width: 96px; padding: 0.4em; margin: 0 0.4em 0.4em 0; text-align: center; }
.gallery li h5 { margin: 0 0 0.4em; cursor: move; }
.gallery li a { float: right; }

.gallery li a.ui-icon-comment { float: left; }
.gallery li a.ui-icon-closethick { float: right; }
.gallery li a.ui-icon-plusthick{ float: left; }
.gallery li img { width: 100%; cursor: move; }

#trash { float: right; width: 32%; min-height: 18em; padding: 1%; }
#trash h4 { line-height: 28px; margin: 0 0 0.4em; }
#trash h4 .ui-icon { float: left; }
#trash .gallery h5 { display: none; }
</style>
<div class="ui-widget ui-helper-clearfix" style="padding:8px;">
<div class="pull-right">
  <a style="font-size: 26px;" href="<%= edit_basket_path(@basket, :operation_type => "set_cage_type") %>" data-remote=true ><i class="icon-cog"></i></a> 
</div>
<ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">
  <% @basket.mice.alive_mice.each do |m|%>
    <li class="ui-widget-content ui-corner-tr" id="mouse_<%= m.id %>">
    <% if m.sex == "" or m.sex == nil  %>
      <h5 class="ui-widget-header">Litter</h5>
      <img src="/assets/litter.png" alt="Planning the ascent" width="96" height="72" />
      <% if can? :handle_mouse, m %>
        <a title="Eidt Mouse" class="ui-icon ui-icon-contact" onclick="javascript: edit_mouse(<%= m.id %>)" >Edit Mouse</a> 
      <%end%>
    <% elsif m.sex == "M" %>
        <h5 class="ui-widget-header"><%= m.code %>&nbsp;</h5>
      <img src="/assets/mouse_m.png" alt="Planning the ascent" width="96" height="72" />
    <%elsif m.sex == "F" %>
      <h5 class="ui-widget-header"><%= m.code %>&nbsp;</h5>
      <img src="/assets/mouse_f.png" alt="Planning the ascent" width="96" height="72" />
    <% if can? :handle_mouse, m %>
      <% if @basket.cage_type == "B" or @basket.cage_type == "M" %>
        <% if query_breed_is_usable(m) %>
          <a title="Breeding litter mice" class="ui-icon ui-icon-plusthick" onclick="javascript: breeding_littler_mice(<%= m.id %>)" >Breeding Litter Mice</a>
        <%end%>
      <%end%>
      <%end%>
    <%end%>
    <a title="Mouse Information" class="ui-icon ui-icon-comment" onclick="javascript: show_mouse(<%= m.id %>)" >Mouse Information</a> 
    <% if can? :handle_mouse, m %>
    <a title="Mouse Dead" class="ui-icon ui-icon-closethick" onclick="javascript: mouse_dead(<%= m.id %>)" >Mouse Information</a> 
    </li>
  <%end%>
  <%end%>
</ul>
 
<div id="trash" style="margin-top:28px;" class="ui-widget-content ui-state-default">
  <h4 class="ui-widget-header">&nbsp; 临时存放</h4>
  <ul class="gallery ui-helper-reset">
  <% @mice.each do |m|%>
  <li class="ui-widget-content ui-corner-tr ui-draggable" style="display: list-item; width: 60px;" id="mouse_<%= m.id %>">
  <% if m.sex == "" or m.sex == nil %>
    <h5 class="ui-widget-header">Litter</h5>
    <img width="96" height="72" alt="Planning the ascent" src="/assets/litter.png" style="display: inline-block; height: 36px;">
    <% if can? :handle_mouse, m %>
    <a title="Eidt Mouse" class="ui-icon ui-icon-contact" onclick="javascript: edit_mouse(<%= m.id %>)" >Edit Mouse</a> 
    <%end%>
  <% elsif m.sex == "M" %>
    <h5 class="ui-widget-header"><%= m.code %>&nbsp;</h5>
    <img width="96" height="72" alt="Planning the ascent" src="/assets/mouse_m.png" style="display: inline-block; height: 36px;">
  <%elsif m.sex == "F"%>
    <h5 class="ui-widget-header"><%= m.code %>&nbsp;</h5>
    <img width="96" height="72" alt="Planning the ascent" src="/assets/mouse_f.png" style="display: inline-block; height: 36px;">
  <%end%>
  <a title="Mouse Information" class="ui-icon ui-icon-comment" onclick="javascript: show_mouse(<%= m.id %>)" >Mouse Information</a>
    <% if can? :handle_mouse, m %>
      <a title="Share Mouse" class="ui-icon ui-icon-extlink" onclick="javascript: share_mouse(<%= m.id %>)" >Mouse Information</a>
    <% end %>
  <% end %>
  </ul>
</div>
 
</div>
<br/>
<br/>
</div>
