<div class="modal-body">
  <dl class="dl-horizontal">
    <dt>Code:</dt>
    <dd>
    <%= @mouse.code %>&nbsp;
    </dd>
    <dt>Strain:</dt>
    <dd>
    <%= @mouse.strain.common_name %>&nbsp;
    <% @mouse.mouse_genes.each do |gene| %>
    </dd>
    <dt>
      <%= @mouse.strain.genes.find(gene.id).short_name%>:</dt>
    <dd>
      <%= @mouse.alleles.find_by_gene_id(gene.id).try(:name) %>  
    </dd>
    <% end %>&nbsp;
    <dt>Coat Color:</dt>
    <dd>
    <%= @mouse.coat_color %>&nbsp;
    </dd>
    <dt>Generation:</dt>
    <dd>
    <%= @mouse.generation %>&nbsp;
    </dd>
    <dt>Birthday:</dt>
    <dd>
    <%= @mouse.birthday %>&nbsp;
    </dd>
    <dt>Wean Date:</dt>
    <dd>
    <%= @mouse.wean_date %>&nbsp;
    </dd>
    <dt>Life Status:</dt>
    <dd>
    <%= @mouse.life_status_lable %>&nbsp;
    </dd>
    <dt>Sex:</dt>
    <dd>
    <%= @mouse.show_sex %>&nbsp;
    </dd>
    <dt>Father Code:</dt>
    <dd>
    <%= @mouse.father_mouse ? @mouse.father_mouse.code : nil %>&nbsp;
    </dd>
    <dt>Mother Code:</dt>
    <dd>
    <%= @mouse.mother_mouse ? @mouse.mother_mouse.code : nil %>&nbsp;
    </dd>
    <dt>Basket Code:</dt>
    <dd>
    <% if current_user.has_role?(:PI)
        basket_code = @mouse.basket ? "#{Framework.all.index(@mouse.basket.framework)+1}-#{@mouse.basket.code}" : nil
      else
        if @mouse.onwer == current_user
          basket_code = @mouse.basket ? "#{Framework.all.index(@mouse.basket.framework)+1}-#{@mouse.basket.code}" : nil
        else
          basket_code = "-"
        end
      end
    %>
    <%= basket_code %>&nbsp;
    </dd>
    <dt>Onwer:</dt>
    <dd>
    <%= @mouse.onwer.full_name %>&nbsp;
    </dd>
    <dt>Creator:</dt>
    <dd>
    <%= @mouse.creator.full_name %>&nbsp;
    </dd>
    <% if @mouse.life_status != "A" %>
    <dt>Dead Date:</dt>
    <dd>
    <%= @mouse.dead_date %>&nbsp;
    </dd>
    <dt>Dead Description:</dt>
    <dd>
    <%= @mouse.description %>&nbsp;
    </dd>
    <% end %>
  </dl>
</div>
