<script type="text/javascript" language="javascript" charset="utf-8">
$(document).on("ready one:load", function() {
    $(".save_btn").click(function(){
      $(".user_form").submit();
      });
    });
$(function () { 
    $(".nav li").removeClass("current");
    $(".nav li.mice_show").addClass("current");
    $(".item li").removeClass("seled");
    $("#mouse_set_bar").addClass("seled");
    $('#mice').DataTable({
      "language": {
      "sSearch": "<span>请输入关键字查找:</span> ",
      "sInfo": "显示 <span>_START_</span> 至 <span>_END_</span> 条记录，共 <span>_TOTAL_</span> 条记录",
      "lengthMenu": "_MENU_  <span>条每页</span>"

      },
      "deferRnder": true,
      "processing": true,
      "iDisplayLength": 25,
      "stateSave": true,
      "aaSorting": [[0,'desc']],
      "serverSide": true,
      "scrollY": "500px",
      "ajax": {
      "url": "<%= get_data_mice_path %>",
      "method": "post",
      "dataType": "json"
      }
      });
    $('.dataTables_filter input').attr("placeholder", "请输入...");
    $(".dataTables_length select").wrap("<div class='input-mini'></div>").chosen({disable_search_threshold: 9999999});
});
</script>
<script type="text/javascript" language="javascript" charset="utf-8">
$(document).ready(function(){
    $("#mouse_life_status").change(function(){
        var checkValue=$(this).val();
        alert(checkValue);
        $.ajax({url:'/mice?status='+checkValue}); 
        });
    $("#mouse_life_status").select2();
    });
</script>

<div class="row-fluid">
  <div class="span12">
    <div class="box box-color box-bordered mouse_box"> 
      <div class="box-title">
        <h3><i class="icon-list"></i>
          <span class="mice_strain">Mice Info[alive]</span>
        </h3>
        <h3>
        </h3>
        <div style="float:right; padding-right:2px;">
          <a data-remote=true id="alive" class="btn btn_status btn-info" href="<%= mice_url(status: :alive)%>">Alive</a>
          <a data-remote=true id="not_alive" class="btn btn_status" href="<%= mice_url(status: :not_alive) %>">Not Alive</a>
          <%= link_to 'New', new_mouse_path , :remote => true, :class => 'new btn add_meet' %>
        </div>
      </div>
      <div class="box-content nopadding">
        <table id="mice" class="table table-bordered dataTable-scroll-x">
          <thead>
            <tr>
              <th>Code</th>
              <th>Strain</th>
              <th>Birthday</th>
              <th>Wean Date</th>
              <th>Sex</th>
              <th>Father Code</th>
              <th>Mother Code</th>
              <th>Cage Code</th>
              <th>Generation</th>
              <th>Status</th>
              <th>Operation</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <div class="mouse_form"></div>
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">小鼠</h3>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
        <button class="save_btn btn btn-primary" onclick="javascript: $('form:first').submit();">保存</button>
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <%= render :partial => "sidebar" %>
<% end %>

