  <div class="todo_list_show" >
    <ul class="left_list" id="temporarily">
    <% @todo_lists.each do |list| %>
      <% if list.mouse.onwer_id == current_user.id and list.status == "D" %>
        <li class="item_list" ><a href="<%= set_status_todo_list_path(list) %>" data-remote=true>[<%= list.created_at.strftime("%Y-%m-%d") %>]<%= list.mouse.code %>-<%= list.status_lable %>-<%= list.operation_lable %></a></li>
      <%end%>
      <%end%>
    </ul>
  </div>

