<div class="modal-body">
  <%= form_for @mouse, :url => save_appraisal_mouse_breed_path(id: @breed.id,mouse_id: @mouse.id), :method => :post, :remote => true, :html =>{:class => 'form-validate form-horizontal form-column form-striped'} do |f| %>
    <div class="control-group">
      <label for="textfield" class="control-label">编号</label>
      <div class="controls">
        <%= text_field :mouse, :code %>
      </div>
    </div>
    <div class="control-group">
      <label for="textfield" class="control-label">鉴定结果</label>
      <div class="controls">
        <%= text_field :mouse, :identification%>
      </div>
    </div>
    <div class="control-group">
      <label for="textfield" class="control-label">荧光表达阳性率</label>
      <div class="controls">
        <%= text_field :mouse, :gfp%> %
      </div>
    </div>
    <div class="control-group">
      <label for="textfield" class="control-label">阳性细胞平均荧光强度</label>
      <div class="controls">
        <%= text_field :mouse, :gfp_val%>
      </div>
    </div>
  <% end %>
</div>
