
<div class="breed_form">
  <div class="row-fluid">
    <div class="span12">
      <div class="box box-bordered box-color">
        <div class="box-title">
          <h3><i class="icon-list"></i>配对信息</h3>
        </div>
        <div class="box-content nopadding">
          <%= form_for @breed , :remote => true, :html =>{:class => 'form-validate form-horizontal form-column form-bordered'} do |f| %>
          <div class="control-group">
            <label for="textfield" class="control-label">父本</label>
            <div class="controls">
              <%= text_field_tag :father_code, "#{@breed.father.code}[#{@breed.father.strain.common_name}]",:readonly => true %>  
              <%= f.hidden_field :father_id, :value => @breed.father.id%>
            </div>
          </div>
          <div class="control-group">
            <label for="textfield" class="control-label">母本</label>
            <div class="controls">
              <%= text_field_tag :mother_code, "#{@breed.mother.code}[#{@breed.mother.strain.common_name}]", :readonly => true %>  
              <%= f.hidden_field :mother_id, :value => @breed.mother.id%>
            </div>
          </div>
          <div class="control-group">
            <label for="textfield" class="control-label">笼子位置</label>
            <div class="controls">
              <%= text_field_tag :basket_code, "#{Framework.all.index(@breed.basket.framework)+1}-#{@breed.basket.code }", :readonly => true %>  
              <%= f.hidden_field :basket_id, :value => @breed.basket_id%>
            </div>
          </div>
          <div class="control-group">
            <label for="textfield" class="control-label">合笼日期</label>
            <div class="controls">
              <%= f.text_field :cage_at,{"data-rule-required" => "true","data-rule-dateiso" => "true"}%>
            </div>
          </div>

          <div class="span12">
            <div class="form-actions">
              <div class="actions">
                <%= f.submit "保存", :class => 'btn btn-primary' %>
                <%= link_to "取消","#", :class => 'btn btn_cancel' %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
        $(".select").select2();
        $("#breed_cage_at" ).datepicker({format: "yyyy-mm-dd"});
        });
  </script>
</div>
