<div class="row-fluid">
  <div class="span12">
    <div class="box box-color box-bordered">
      <div class="box-title">
        <h3>
          <i class="icon-reorder"></i>
          <%= @breed.father.code %>[<%= @breed.father.strain.common_name %>]+<%= @breed.mother.code %>[<%= @breed.mother.strain.common_name%>] 
        </h3>
        <div style="float:right; padding-right:2px;">
          <%= link_to "返回", breeds_path ,:class => 'btn btn' %>
        </div>
      </div>
      <div class="box-content nopadding">

        <ul class="timeline">
          <li>
          <div class="timeline-content">
            <div class="left">
              <div class="icon">
                <i class="icon-picture"></i>
              </div>
              <div class="date"><%= @breed.cage_at %></div>
            </div>
            <div class="activity">
              <div class="user">&nbsp;由<%= @breed.creator.full_name %><span>配对</span></div>
              <p>
              <%= "#{@breed.father.code}[#{@breed.father.strain.common_name}]和#{@breed.mother.code}[#{@breed.mother.strain.common_name}]在#{Framework.all.index(@breed.basket.framework)+1}-#{@breed.basket.code }处合笼"%>
              </p>
            </div>
          </div>
          <div class="line"></div>
          </li>
          <% if @breed.batches %>
            <% @breed.batches.each do |batch| %>
            <li>
            <div class="timeline-content">
              <div class="left">
                <div class="icon green">
                  <i class="icon-comment"></i>
                </div>
                <div class="date"><%= batch.childbirthday %></div>
              </div>
              <div class="activity">
                <div class="user"><%= @breed.creator.full_name %>&nbsp;<span>操作</span></div>
                <p>
                Lorem ipsum Fugiat magna velit consectetur qui in veniam cillum exercitation Ut occaecat Duis mollit. Lorem ipsum Dolore dolor Excepteur sunt amet officia officia sunt aliquip id occaecat officia.
                </p>
              </div>
            </div>
            <div class="line"></div>
            </li>
          <%end%>
        <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar do %>
  <%= render :partial => "mice/sidebar" %>
<% end %>
