<div class="row-fluid">
  <div class="span12">
<script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
$(function () { 
    $(".nav li").removeClass("current");
    $(".nav li.mice_show").addClass("current");
    $(".item li").removeClass("seled");
    $("#breeds_bar").addClass("seled");
    });
</script>
    <div class="box box-color box-bordered">
      <div class="box-title">
        <h3>
          <i class="icon-reorder"></i>
          <%= @breed.father.code %>[<%= @breed.father.strain.common_name %>]+<%= @breed.mother.code %>[<%= @breed.mother.strain.common_name%>] 
        </h3>
        <div style="float:right; padding-right:2px;">
          <%= link_to "返回", breeds_path ,:class => 'btn btn' %>
        </div>
      </div>
      <div class="box-content nopadding">

        <ul class="timeline">
          <li>
          <div class="timeline-content">
            <div class="left">
              <div class="icon">
                <i class="icon-picture"></i>
              </div>
              <div class="date"><%= @breed.cage_at %></div>
            </div>
            <div class="activity">
              <div class="user"></div>
              <p>
              <%= "#{@breed.father.code}[#{@breed.father.strain.common_name}]和#{@breed.mother.code}[#{@breed.mother.strain.common_name}]在#{Framework.all.index(@breed.basket.framework)+1}-#{@breed.basket.code }处合笼"%>
              </p>
            </div>
          </div>
          <div class="line"></div>
          </li>
          <% if @breed.batches %>
            <% @breed.batches.each do |batch| %>
            <li>
            <div class="timeline-content">
              <div class="left">
                <div class="icon green">
                  <i class="icon-comment"></i>
                </div>
                <div class="date"><%= batch.childbirthday %></div>
              </div>
              <div class="activity">
                <ul class="timeline2">
                  <div class="li-line"></div>
                    <li>
                    <div class="timeline-content">
                      <div class="left">
                        <div class="icon orange">
                          <i class="icon-bullhorn"></i>
                        </div>
                      </div>
                      <div class="activity">
                        <div><%= batch.childbirthday %>
                        小鼠出生
                        </div>
                      </div>
                    </div>
                    <div class="line"></div>
                    </li>
                  <% if batch.mice %>
                    <% batch.mice.where(life_status: "DD").each do |mouse| %>
                      <li>
                      <div class="timeline-content">
                        <div class="left">
                          <div class="icon green">
                            <i class="icon-comment"></i>
                          </div>
                        </div>
                        <div class="activity">
                          <div><%= mouse.dead_date %>
                          小鼠发育不良死亡
                          </div>
                        </div>
                      </div>
                      <div class="line"></div>
                      </li>
                    <% end %>
                    <% m = batch.mice.alive_mice.where("wean_date is not null").first %>
                    <% if m  %>
                    <li>
                    <div class="timeline-content">
                      <div class="left">
                        <div class="icon orange">
                          <i class="icon-bullhorn"></i>
                        </div>
                      </div>
                      <div class="activity">
                        <div><%= m.wean_date %>
                        小鼠离乳
                        </div>
                      </div>
                    </div>
                    <div class="line"></div>
                    </li>
                  <% end %>
                  <% end %>
                </ul>
              </div>
            </div>
            <div class="line"></div>
            </li>
          <%end%>
        <%end%>
        </ul>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar do %>
  <%= render :partial => "mice/sidebar" %>
<% end %>
