<div id="basket_cage_list">
  <div id="box_grids_area" class="gridcontent" style="">
    <table width="100%" border="0" cellpadding="0" cellspacing="2">
      <tr>
        <td align=center>x</td>
        <% for x in 65...(@framework.axis_x+65)%>
          <td width="<%= 100/(@framework.axis_x) %>%" class="xline"><%= x.chr %></td>
        <% end %>
      </tr>
      <tr>
        <% for y in 1...(@framework.axis_y+1) %>
          <td class="yline" width="100"><%= y %></td>
        <% for x in 65...(@framework.axis_x+65) %>
          <% box_position = "#{y}#{x.chr}" %><% basket = @framework.baskets.find_by_code(box_position) %>
          <td width="<%= 90/(@framework.axis_y) %>%">
            <div data-original-title="操作" data-content="" rel="popover" id="cage_<%= basket.id %>" class="tddiv  has_cell  ui-droppable">
              <div class="f_box_grid be_filled <%= basket.cage_type%>_box">
                <% if basket.onwer == current_user or current_user.has_role?(:PI) %>
                  <a data-remote=true href="<%= basket_path(basket) %>"><%= basket.onwer ? "[#{basket.onwer.full_name}]" : nil %><%= Framework.all.index(@framework)+1 %>-<%= basket.code %></a>
                <% else %>
                  -
                <% end %>
              </div>
            </div>
          </td>
        </td>
      <% end %>
      </tr>
    <% end %>
    </table>
  </div>
</div>
